* {
	margin: 0;
	border: 0;
	padding: 0;
	text-align: center;
}

div {
	outline-style: dotted;
	outline-width: thin;
	display: inline-block;
}

#start {
	border:2px solid green;
    outline-color:red;	
    outline-style:double;
	left:50%; 
	position: absolute;
	text-align: center;
	width: 90px;
	height: 60px;
	margin-top: 20px;
	border: 0;
	padding: 0;
    font-size: 16px;
    background-color: blue;
    color: white;
}

#clear {
	border:2px solid green;
    outline-color:red;	
    outline-style:double;
	left:42%; 
	position: absolute;
	text-align: center;
	width: 90px;
	height: 60px;
	margin-top: 20px;
	border: 0;
	padding: 0;
    font-size: 16px;
    background-color: blue;
    color: white;
}

#container {
	width: 960px;
	height: 960px;
	margin-top: 90px;
	border: 0;
	padding: 0;
}

.pixel {
	height: 60px;
	width: 60px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: #ffe5ff;
    
  /* Remove bottom spacing */
  vertical-align: top;
}